<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
		<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
  <connectionStrings>
    <!--Beta Connection String-->
    <!--<add name="Default" connectionString="Data Source=BGIC; Persist Security Info=True;User ID=gmonline;Password=Gm10N1n3;" providerName="System.Data.OracleClient"/>-->
    <!--Production Connection String-->
    <add name="Default" connectionString="Data Source=172.20.8.31:1521/bgic; Persist Security Info=True;User ID=gmonline;Password=Gm10N1n3;" providerName="System.Data.OracleClient" />
    <!--<add name="Default" connectionString="Data Source=GMONLINE.WORLD; Persist Security Info=True;User ID=gmonline;Password=Gm10N1n3;" providerName="System.Data.OracleClient" />-->
    <!--Sms Sending Connection String-->
    <add name="ConnectionStringSMS" connectionString="Data Source=GICPROD; Persist Security Info=True;User ID=smsuser;Password=gic1msg2;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <!--<configSections>
    -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>-->

	<log4net>
      <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
        <file value="c:\MembersPortalApiLogs\" />
        <!--<rollingStyle value="Date"/>
      <datePattern value="yyyyMMdd'.txt'"/>
      <appendToFile value="true"/>-->
        <datePattern value="dd.MM.yyyy" />
        <staticLogFileName value="false" />
        <appendToFile value="true" />
        <rollingStyle value="Composite" />
        <maxSizeRollBackups value="10" />
        <maximumFileSize value="5MB" />
        <countDirection value="1" />
        <layout type="log4net.Layout.PatternLayout">
          <!--<conversionPattern value="%level %logger %date{ISO8601} - %message%newline"/>-->
          <conversionPattern value="[%level] [%date] [%identity] [%logger] [%method] - %message%newline%exception" />
        </layout>
      </appender>
      <root>
        <!-- Options are "ALL", "DEBUG", "INFO", "WARN", "ERROR", "FATAL" and "OFF". -->
        <level value="ALL" />
        <appender-ref ref="RollingFile" />
      </root>
    </log4net>
  <appSettings>
    <add key="PrintPath" value="http://localhost:61087" />
	<add key="FileGen" value="http://localhost:61087" />
	<add key="iisPath" value="C:\Program Files (x86)\IIS Express\iisexpress.exe" />
    <add key="MNIWSUSER" value="gic_online" />
    <add key="EmailTo" value="customer.serv@gig.com.kw" />
    <add key="EmailOnCardDelivery" value="afyarequests@gig.com.kw" />
    <add key="EmailOnCardReprint" value="afyarequests@gig.com.kw" />
    <add key="EmailOnRegistrationFailure" value="afyarequests@gig.com.kw" />
    <add key="CoveregeDocURL" value="http://medbeta.gulfins.com.kw/ClaimDocs/" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	  <add key="GlobalVar_FileFtpPath" value="ftp://172.20.5.117/"  />
	  <add key="GlobalVar_FileNetworkUser" value="MEDBETA2\\dps"  />
	  <add key="GlobalVar_FileNetworkPass" value="dW112$e@"  />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7">
      <assemblies>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
    </httpHandlers>
    <pages>
      <namespaces>
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
	  <directoryBrowse enabled="true" />

	  <modules runAllManagedModulesForAllRequests="true" />

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.32.3057.0" newVersion="1.32.3057.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="coverageBalancesQuerySoapHttp" allowCookies="true" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" />
        <binding name="coverageBalancesQuerySoapHttp1" />
        <binding name="LifeAdressDSSoapHttp" />
      </basicHttpBinding>
    </bindings>
    <client>
      <!--BETA-->
      <!--<endpoint address="http://172.20.8.44:8001/MedNeXtWebServices-Model/LifeAdressDS"
          binding="basicHttpBinding" bindingConfiguration="LifeAdressDSSoapHttp"
          contract="MemberAddressUpdate.cs.LifeAdressDS" name="LifeAdressDSSoapHttpPort" />

      <endpoint address="http://172.20.8.44:8001/coverageBalancesQuery/coverageBalancesQuerySoapHttpPort"
       binding="basicHttpBinding" bindingConfiguration="coverageBalancesQuerySoapHttp"
       contract="CoverageBalanceQuery.coverageBalancesQuery" name="coverageBalancesQuerySoapHttpPort" />-->
      <!--Prodcution-->
      <!--<endpoint address="http://172.20.8.40/MedNeXtWebServices-Model/LifeAdressDS" binding="basicHttpBinding" bindingConfiguration="LifeAdressDSSoapHttp" contract="MemberAddressUpdate.cs.LifeAdressDS" name="LifeAdressDSSoapHttpPort" />
      <endpoint address="http://172.20.8.40/coverageBalancesQuery/coverageBalancesQuerySoapHttpPort" binding="basicHttpBinding" bindingConfiguration="coverageBalancesQuerySoapHttp" contract="CoverageBalanceQuery.coverageBalancesQuery" name="coverageBalancesQuerySoapHttpPort" />-->
      <endpoint address="http://wsmednext.gulfins.com.kw/MedNeXtWebServices-Model/LifeAdressDS" binding="basicHttpBinding" bindingConfiguration="LifeAdressDSSoapHttp" contract="MemberAddressUpdate.cs.LifeAdressDS" name="LifeAdressDSSoapHttpPort" />
      <endpoint address="http://wsmednext.gulfins.com.kw/coverageBalancesQuery/coverageBalancesQuerySoapHttpPort" binding="basicHttpBinding" bindingConfiguration="coverageBalancesQuerySoapHttp" contract="CoverageBalanceQuery.coverageBalancesQuery" name="coverageBalancesQuerySoapHttpPort" />
    </client>
  </system.serviceModel>
  <!--<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="LifeAdressDSSoapHttp" />
        <binding name="coverageBalancesQuerySoapHttp" allowCookies="true" maxBufferPoolSize="200000000" maxBufferSize="200000000" maxReceivedMessageSize="200000000" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://wsmednext.gulfins.com.kw/MedNeXtWebServices-Model/LifeAdressDS" binding="basicHttpBinding" bindingConfiguration="LifeAdressDSSoapHttp" contract="MemberAddressUpdate.cs.LifeAdressDS" name="LifeAdressDSSoapHttpPort" />
      <endpoint address="http://wsmednext.gulfins.com.kw/coverageBalancesQuery/coverageBalancesQuerySoapHttpPort" binding="basicHttpBinding" bindingConfiguration="coverageBalancesQuerySoapHttp" contract="CoverageBalanceQuery.coverageBalancesQuery" name="coverageBalancesQuerySoapHttpPort" />
  
    </client>
  </system.serviceModel>-->
</configuration>